@import '@fontsource/fira-mono';
@import './lib/styles/reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply bg-background-primary;
}

button,
label,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div,
ul,
li,
ol {
	font-family: 'Inter';
	font-weight: 600;
	font-style: normal;
	letter-spacing: -0.02em;
}

@layer utilities {
	.input-hover:hover,
	.input-hover:focus {
		@apply border-accent placeholder:text-accent;
	}
}
